<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="name">
            <div class="detail">
                <h1>Mareta</h1>
                <h1>&</h1>
                <h1>Someone</h1>
            </div>
        </div>

        <div class="date">
            <p>Minggu, 28 Januari 2023</p>
        </div>

        <div class="username">
            <p>To:</p>
            <p><b id="user"></b></p>
        </div><br><br>

        <div class="cta primary">
            <a href="/content">buka undangan</a>
        </div>
    </div>
    <script>
         const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const username = urlParams.get('to')
document.getElementById("user").innerHTML = username;
    </script>
</body>
</html>